@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove barras de rolagem */
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f0ff;
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    height: 60px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}

.container h2 {
    margin-bottom: 20px;
    color: #333;
}

.container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container button {
    background-color: #1A237E;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: calc(100% - 20px);
    margin-top: 20px;
}

.container button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.container button:active {
    transform: translateY(0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: white;
    text-align: center;
}

footer .footer-logo {
    height: 40px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
